.title-bar {
    text-align: center;
    padding-bottom: 35px;
    border-bottom: 1px solid #e1e1e1;
}
.main-body a {
	color: black;
	text-decoration: none;
}
.main-body a:hover {
	text-decoration: underline;
}
.title-bar h1 {
	margin-bottom: 56px;
}
.logo-left {
	align-items: center;
}
.logo-left> :first-child {
	margin-right: 25px;
}
.logo-left div {
    display: flex;
	border: 1px solid #e1e1e1;
	color: grey;
}
.logo-left input {
    border: none;
}
.logo-left input:focus {
	outline: none !important;
}
.menu-bar ul {
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
	margin: unset;
}
.logo-right {
    padding: unset;
}
.logo-right ul {
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
	margin: unset;
}
.logo-right li {
	margin: 0 18px;
}
.logo-right a {
    color: grey;
    font-size: 18px;
}
.menu-bar ul {
    line-height: 20px;
}
.logo-right div {
	border-right: 1px solid grey;
	height: 25px;
}
.menu-bar li {
	margin-right: 20px;
}
.logo-left a {
    font-size: 18px;
}
.menu-bar a {
    font-size: 21px;
}
.last-li {
    margin: 0 12px 0 8px !important;
}
.logo-bar a {
    color: #787777;
}

/* media */

@media (max-width: 1920px) and (min-width: 1024px) {
    .lg-div {
        padding: 12px 16px;
        margin-left: 125px;
    }
    .logo-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .main-body {
        padding: 65px 120px 0 120px;
    }
    .show-block {
        display: none;
    }
    .logo-left-lg  {
        display: flex;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .md-div  {
        padding: 12px 12px;
        margin-left: 85px;
    }
    .logo-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .md-main-body {
        padding: 65px 70px 0 70px;
    }
    .show-block {
        display: none;
    }
    .logo-left-lg  {
        display: flex;
    }
}

@media (max-width: 768px) and (min-width: 425px) {
    .logo-hidden {
        display: none;
    }
    .show-menu {
        display: block;
    }
    .sm-main-body {
        padding: 45px 40px 0 40px;
    }
    .logo-left-md  {
        display: block;
    }
}

@media (max-width: 425px) {
    .logo-left-sm  {
        display: block;
    }
}