
<div class="main-body md-main-body sm-main-body">
  <!-- logo bar -->
  <div class="logo-bar">
      <!-- left area -->
      <div class="logo-left logo-left-lg logo-left-md logo-left-sm">
          <a href="#">WOMEN</a>
          <a href="#">MEN</a>
          <div class="lg-div md-div sm-div xs-div">
            <input type="text" name="search" placeholder="Search">
            <img src="assets/search.png">
          </div>
      </div>

      <!-- right area -->
      <div class="logo-right">
          <ul>
              <li><a href="#">Login</a></li>
              <div></div>
              <li><a href="#">Register</a></li>
              <div></div>
              <li><a href="#">Help</a></li>
              <div style="margin-right: 8px;"></div>
              <img src="assets/love.png">
              <li class="last-li"><a href="#">Wishlist</a></li>
              <img src="assets/shop.png">
          </ul>
      </div>
  </div>

  <!-- show bar -->
  <!-- <div class="show-menu show-block">
    <button>Click</button>
  </div> -->

  <div>

  </div>
  <!-- title bar -->
  <div class="title-bar">
    <img src="assets/logo.png">
      <div class="menu-bar">
          <ul>
              <li><a href="#">NEWS</a></li>
              <li><a href="#">SHOES</a></li>
              <li><a href="#">SEAKERS</a></li>
              <li><a href="#">BAGS</a></li>
              <li><a href="#">ACCESSORIES</a></li>
              <li><a href="#">SALES</a></li>
          </ul>
      </div>
  </div>
</div>
